/* Petite pensée quand le S et le J vont me tomber dessus parce que le code est pas clean...... */

/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #09131b;
  color: #ffffff;
  line-height: 1.6;
}

body.loading {
    opacity: 0;
}

.contentPage{
    margin: 0 10%;
    min-height: calc(100vh - 190px);
}

.spaceHead{
  margin-bottom: 150px;
}

/** -------------------------------------------------- HEADER -------------------------------------------------- **/

.header {
  background: #122331;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
}

header.hidden {
	transform: translateY(-100%);
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.header ul {
  list-style: none;
}

.logo{
    z-index: 1;
}

.logo img{
  width: 400px;
  max-width: 70%;
  height: auto;
  
}

.menu-items {
  display: flex;
  align-items: center;
}
.menu-items li {
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out;
}
.menu-items li:hover {
  background-color: #09131b;
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdown-menu,
.menu-right {
  position: absolute;
  background: #122331;
  width: 100%;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.menu-right {
  top: 0;
  left: 110%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  top: 34px;
  opacity: 1;
  visibility: visible;
}
.dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/* mega menu  */
.mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border-top: 1px solid #c5c5c5;
}
.mega-menu .content {
  background: #122331;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
.blog .content {
  grid-template-columns: repeat(3, 1fr);
}
.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 3rem;
}
.content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  height: 20vw;
  max-height: 200px;
  overflow: hidden;
  border-radius: 200px;
  box-shadow: 0 0 12px #000000;
}
.content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content .col img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.content .col .img-wrapper:hover img {
  transform: scale(1.1);
}
.content .col h2 {
  color: #427dad;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col p {
  line-height: 1.2rem;
}
.content .col .mega-links {
  border-left: 1px solid #1a3246;
}
.content .col .read-more {
  display: inline-block;
  padding-top: 1rem;
  color: #427dad;
  transition: color 0.3s ease;
}
.col .mega-links li,
.col .mega-links li a {
  padding: 0 1rem;
}
.menu-items li:hover .mega-menu {
  top: 82px;
  opacity: 1;
  visibility: visible;
}
.content .col .read-more:hover {
  color: #427dad;
}

/* section */
/*.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section h1 {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  line-height: 6vw;
  color: #427dad;
  text-transform: uppercase;
}*/

/* nav menu button */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before {
  transform: translateY(0.5rem);
}
.menu-btn__lines::after {
  transform: translateY(-0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(-2rem);
  background: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(1.5rem, -1.5rem);
  background: #ffffff;
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(1.5rem, 1.5rem);
  background: #ffffff;
}

/* MEDIA QUERY */
@media screen and (max-width: 970px) {
  .header{
    justify-content: center;
  }
  .logo{
    display: flex;
    justify-content: center;
  }
  .menu-btn {
    display: flex;
    position: absolute;
    left: 5%;
  }

  .header .menu-items {
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 100%;
    left: 0;
    background: #122331;
    display: block;
    padding: 1rem;
    line-height: 3rem;
    overflow-y: auto;
    transform: translateX(-100vw);
    transition: transform 0.3s ease-out;
  }
  .menu-items.open {
    transform: translateY(0);
  }

  .menu-items li {
    margin: 15px 10px;
  }
  .menu-items li a {
    padding: 0 1rem;
    display: block;
    font-size: 1.4rem;
  }
  .menu-items li:hover {
    background-color: transparent;
  }

  /* DROPDOWN, MEGA MENUS */
  .menu-items .dropdown-menu,
  .menu-items .menu-right,
  .menu-items .mega-menu {
    position: static;
    opacity: 1;
    top: 4rem;
    visibility: visible;
    width: 100%;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  .expand-btn.open + .expandable {
    max-height: 100%;
    transform: scaleY(1);
  }

  a.expand-btn::after{
    content:' +';
  }

  a.open::after{
    content:' -';
  }

  .expandable li {
    margin: 0;
  }
  .expandable li a {
    font-size: 1rem;
  }
  .col .mega-links li,
  .col .mega-links li a {
    padding: 0;
  }
  .mega-menu .content {
    grid-template-columns: auto;
    padding: 1rem 1rem 0 1rem;
  }
  .mega-menu .content .col {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #1a3246;
  }
  .mega-menu .content .col:nth-child(1) {
    border-top: 0px;
  }
  .content .col .mega-links {
    border-left: 0px;
    padding-left: 1rem;
  }
  .col .mega-links li {
    margin: 0;
  }
  .content .col .img-wrapper {
    height: 20vw;
    width: 20vw;
  }
}

/** -------------------------------------------------- FOOTER -------------------------------------------------- **/

footer{
	background-color: #122331;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.copyrightFooter {
    margin: 10px 0;
}

/** -------------------------------------------------- INDEX -------------------------------------------------- **/

.indexContent{
	margin-top: 160px;
}

.indexContent h2{
	margin: 50px 0;
	text-align: center;
	font-size: 30px;
}

.indexContent p {
	margin: 30px 0;
	text-align: justify;
	line-height: 1.6;
	color: #c5c5c5;
}

.mainImage{
	display: flex;
	justify-content: center;
	width: 100%;
}

.mainImage img{
	max-width: 300px;
	height: auto;
}

.encartPicto{
	width: fit-content;
	max-width: 100%;
	padding: 0 20px;
	margin: 20px auto;
	background-color: #000000;
	display: flex;
	align-items: center;
	border-radius: 10px;
	font-size: 12px;
	overflow: hidden;
}

.encartPicto a{
	cursor: pointer;
	color: #c5c5c5;
	text-decoration: underline;
	font-style: italic;
	display: flex;
    	align-items: center;
}

.encartPicto a img {
	width: 30px;
	margin: 20px 20px 20px 0;
}

.encartPicto p{
	padding: 0 10px;
}

.encartPicto img {
	width: 30px;
	margin: 20px;
}

.encartPictoCitation{
	width: 60%;
	margin: 80px auto 120px auto;
	background-color: #122331;
	display: flex;
	align-items: center;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #000000;
}

.encartPictoCitation img {
	width: 30px;
	margin: 20px;
}

.encartPictoCitation p {
	padding: 30px 30px 30px 10px;
	text-align: justify;
	margin: 0;
}

@media screen and (max-width: 970px) {
	.encartPictoCitation{
		width: 100%;
	}
}

/** -------------------------------------------------- PAGES CONTENT -------------------------------------------------- **/

.contentPage h1{
	text-align: center;
}
.traitTitle{
	height: 2px;
	background: linear-gradient(to right, #09131B 0%, #C5C5C5 50%, #09131B 100%);
	width: 50%;
	margin: 15px auto 80px auto;
}

.contentIntro{
	margin-bottom: 150px;
}
.introBloc {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}
.histoireBloc, .ressourcesBloc {
  width: 30%;
  max-width: 300px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px #000000;
  border: 1px solid #000000;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.histoireBloc{
  background-color: #09131b;
}
.ressourcesBloc{
  background-color: #09131b;
}
.histoireBloc:hover{
  background-color: #122331;
  border-color: #122331;
}
.ressourcesBloc:hover{
  background-color: #122331;
  border-color: #122331;
}
.histoireBloc:after, .ressourcesBloc:after {
  content: '+';
  position: absolute;
  right: 15px;
  font-size: 24px;
  transition: transform 0.3s;
}
.contentHistoire, .contentRessources {
    display: none;
    height: 0;
    width: 90%;
    opacity: 0;
}
.activeIntro{
  box-shadow: 0px 5px 5px #000000;
  transition: 0.3s ease-in-out;
}
.activeBloc:after{
  content: '-';
  transform: rotate(180deg);
}
.histoireBloc.activeBloc{
  background-color: #122331;
  border-color: #122331;
}
.ressourcesBloc.activeBloc{
  background-color: #122331;
  border-color: #122331;
}
.activeContentBloc {
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    padding: 50px 30px;
    height: -webkit-fill-available;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.ressourcesCol {
    width: fit-content;
    min-width: 25%;
    overflow: hidden;
}
.encartRessource{
    width: fit-content;
    max-width: 100%;
    padding: 10px;
    border-left: 1px solid #122331;
    display: flex;
    align-items: center;
    font-size: 12px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    margin: 10px 10px 10px 0;
}
.encartRessource:hover {
    background-color: #122331;
    transition: 0.2s ease-in-out;
    border-left-color: #c5c5c5;
}
.encartRessource a {
    cursor: pointer;
    color: #c5c5c5;
    text-decoration: none;
    font-style: italic;
    display: flex;
    align-items: center;
}
.encartRessource a img {
    width: 30px;
    margin-right: 10px;
}


.centeredContent{
    text-align: center;
	margin: auto;
	width: 60%;
}

@media screen and (max-width: 970px) {
	.introBloc{
		flex-direction: column;
	}
	.histoireBloc, .ressourcesBloc{
		width: 100%;
	}
	.centeredContent{
		width: 100%;
	}
	.contentIntro{
		margin-bottom: 50px;
	}
}

/* ACCORDION */

.accordion {
  width: 100%;
  margin: 100px auto;
}
.accordion-item {
  margin-bottom: 5px;
}
.accordion-header {
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.accordion-header:hover {
  background-color: #122331;
}
.triangle {
  margin-right: 5px;
  transition: transform 0.3s ease;
}
.triangle-down {
  transform: rotate(90deg);
}
.accordion-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 50px 10px;
  padding-left: 20px;
}
.activeAccordion {
  display: block;
}
.levelUn .accordion-header {
    color: #4694D4;
}
.levelDeux .accordion-header {
    color: #ED9266;
}

/* BLOCS GD */

.containerGD {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.image-blockGD, .text-blockGD {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.image-blockGD img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.captionGD {
    text-align: center;
    font-style: italic;
    color: #888;
}
.text-blockGD ul {
    list-style-type: disc;
    padding-left: 20px;
}
.customGreenBold{
	font-weight: 600;
	color: #32bf6d;
}

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    max-width: 80%!important;
    z-index: 1000;
    cursor: zoom-out;
}
.fullscreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #00000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.fullscreen-container li .customGreenBold {
    color: #00000000;
}

@media screen and (max-width: 970px) {
    .containerGD {
        flex-direction: column;
    }
    .image-blockGD, .text-blockGD {
        flex: none;
        width: 100%;
    }
    .fullscreen{
        max-width: 100%!important; 
    }
}
