<footer>
  <div class="containerFooter">
    <div class="colFoot1">
      <h3>Titre footer 1</h3>
      <ul>
        <li>Section 1</li>
        <li>Section 2</li>
        <li>Section 3</li>
        <li>Section 4</li>
      </ul>
    </div>
    <div class="colFoot2">
      <h3>Titre footer 2</h3>
      <ul>
        <li>Section 1</li>
        <li>Section 2</li>
      </ul>
    </div>
    <div class="colFoot3">
      <h3>Titre footer 3</h3>
      <ul>
        <li>Section 1</li>
        <li>Section 2</li>
        <li>Section 3</li>
      </ul>
    </div>
    <div class="colFoot4">
      <h3>Réseaux</h3>
      <ul>
        <li>Section 1</li>
        <li>Section 2</li>
      </ul>
    </div>
  </div>
  <div class="copyrightFooter">© 2023 - TOUS DROITS RÉSERVÉS - PATHFINDERS</div>
</footer>
