<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://osdevil.github.io/Academy-PathFinders/style.css" />
    <script src="https://osdevil.github.io/Academy-PathFinders/main.js" defer></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="menu-btn">
        <div class="menu-btn__lines"></div>
      </div>
      <a href="https://osdevil.github.io/Academy-PathFinders/" class="logo">
        <img src="https://osdevil.github.io/Academy-PathFinders/imgs/Logo_PathFinders.png" alt="logo PathFinders">
      </a>
      <ul class="menu-items">
        <li>
            <a href="#" class="menu-item expand-btn">Généralités</a>
            <div class="mega-menu expandable">
                <div class="content">
                  <div class="col" style="justify-content: center;">
                    <section>
                      <a href="#" class="img-wrapper">
                        <span class="img">
                          <img src="https://osdevil.github.io/Academy-PathFinders/imgs/mountain.jpg" alt="mountain" />
                        </span>
                      </a>
                    </section>
                  </div>
                  <div class="col">
                      <section>
                      <ul class="mega-links">
                          <li><a href="generalites/investissement.html">🔥 Investissement</a></li>
                          <li><a href="generalites/bourse.html">📈 Bourse</a></li>
                          <li><a href="generalites/crypto.html">💰 Crypto</a></li>
                          <li><a href="generalites/immobilier.html">🏢 Immobilier</a></li>
                          <li><a href="generalites/e-commerce.html">💻 E-commerce</a></li>
                      </ul>
                      </section>
                  </div>
                </div>
            </div>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Analyse Technique</a>
          <div class="mega-menu expandable">
            <div class="content">
              <div class="col" style="justify-content: center;">
                <section>
                  <a href="#" class="img-wrapper">
                    <span class="img">
                      <img src="https://osdevil.github.io/Academy-PathFinders/imgs/technical-analysis.jpg" alt="technical analysis" />
                    </span>
                  </a>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="analyse-technique/elliott-waves.html">🏄‍♂️ Elliott Waves</a></li>
                    <li><a href="analyse-technique/figures-chartistes.html">📈 Figures chartistes</a></li>
                    <li><a href="analyse-technique/ichimoku.html">🍙 Ichimoku</a></li>
                    <li><a href="analyse-technique/indicateurs.html">📊 Indicateurs</a></li>
                    <li><a href="analyse-technique/price-action.html">🚀 Price Action</a></li>
                  </ul>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="analyse-technique/smart-money-concept.html">⚜ Smart Money Concept</a></li>
                    <li><a href="analyse-technique/theorie-de-dow.html">💡 Théorie de Dow</a></li>
                    <li><a href="analyse-technique/wyckoff.html">〽 Wyckoff</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Devenir rentable</a>
          <div class="mega-menu expandable">
            <div class="content">
              <div class="col" style="justify-content: center;">
                <section>
                  <a href="#" class="img-wrapper">
                    <span class="img">
                      <img src="https://osdevil.github.io/Academy-PathFinders/imgs/bear-bull.jpg" alt="bear bull" />
                    </span>
                  </a>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="devenir-rentable/risk-management.html">🏆 Risk Management</a></li>
                    <li><a href="devenir-rentable/journal-de-trading.html">🧾 Journal de trading</a></li>
                    <li><a href="devenir-rentable/psychologie.html">🧠 Psychologie</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Ressources</a>
          <div class="mega-menu expandable">
            <div class="content">
              <div class="col" style="justify-content: center;">
                <section>
                  <a href="#" class="img-wrapper">
                    <span class="img">
                      <img src="https://osdevil.github.io/Academy-PathFinders/imgs/einstein.jpg" alt="einstein" />
                    </span>
                  </a>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="ressources/glossaire.html">🎓 Glossaire</a></li>
                    <li><a href="ressources/documents.html">📚 Documents</a></li>
                    <li><a href="ressources/annexes.html">💥 Annexes</a></li>
                  </ul>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="https://discord.com/invite/4ErWuNkzDq" target="_blank" style="display: flex; align-items:center;"><img src="https://osdevil.github.io/Academy-PathFinders/imgs/picto-discord.png" alt="picto Discord" style="width:20px; height:20px; margin-right: 5px;"> Discord</a></li>
                    <li><a href="https://twitter.com/PathfindersTG" target="_blank" style="display: flex; align-items:center;"><img src="https://osdevil.github.io/Academy-PathFinders/imgs/picto-X.png" alt="picto X" style="width:20px; height:20px; margin-right: 5px;"> Twitter</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </header>
    <div class="spaceHead"></div>

    <div class="contentPage">
        {{ content }}
    </div>

    {% include footer.html %}
    
  </body>
</html>
