<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="main.js" defer></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="menu-btn">
        <div class="menu-btn__lines"></div>
      </div>
      <a href="https://osdevil.github.io/Academy-PathFinders/" class="logo">
        <img src="imgs/Logo_PathFinders.png" alt="logo PathFinders">
      </a>
      <ul class="menu-items">
        <li>
            <a href="#" class="menu-item expand-btn">Généralités</a>
            <div class="mega-menu expandable">
                <div class="content">
                  <div class="col" style="justify-content: center;">
                    <section>
                      <a href="#" class="img-wrapper">
                        <span class="img">
                          <img src="imgs/mountain.jpg" alt="mountain" />
                        </span>
                      </a>
                    </section>
                  </div>
                  <div class="col">
                      <section>
                      <ul class="mega-links">
                          <li><a href="#">🔥 Investissement</a></li>
                          <li><a href="#">📈 Bourse</a></li>
                          <li><a href="#">💰 Crypto</a></li>
                          <li><a href="#">🏢 Immobilier</a></li>
                          <li><a href="#">💻 E-commerce</a></li>
                      </ul>
                      </section>
                  </div>
                </div>
            </div>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Analyse Technique</a>
          <div class="mega-menu expandable">
            <div class="content">
              <div class="col" style="justify-content: center;">
                <section>
                  <a href="#" class="img-wrapper">
                    <span class="img">
                      <img src="imgs/technical-analysis.jpg" alt="technical analysis" />
                    </span>
                  </a>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="#">🏄‍♂️ Elliott Waves</a></li>
                    <li><a href="#">📈 Figures chartistes</a></li>
                    <li><a href="#">📊 Indicateurs</a></li>
                    <li><a href="#">🍙 Ichimoku</a></li>
                    <li><a href="#">🚀 Price Action</a></li>
                  </ul>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="#">⚜ Smart Money Concept</a></li>
                    <li><a href="#">💡 Théorie de Dow</a></li>
                    <li><a href="#">〽 Wyckoff</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Devenir rentable</a>
          <div class="mega-menu expandable">
            <div class="content">
              <div class="col" style="justify-content: center;">
                <section>
                  <a href="#" class="img-wrapper">
                    <span class="img">
                      <img src="imgs/bear-bull.jpg" alt="bear bull" />
                    </span>
                  </a>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="#">🏆 Risk Management</a></li>
                    <li><a href="#">🧾 Journal de trading</a></li>
                    <li><a href="#">🧠 Psychologie</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Ressources</a>
          <div class="mega-menu expandable">
            <div class="content">
              <div class="col" style="justify-content: center;">
                <section>
                  <a href="#" class="img-wrapper">
                    <span class="img">
                      <img src="imgs/einstein.jpg" alt="einstein" />
                    </span>
                  </a>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="#">🎓 Glossaire</a></li>
                    <li><a href="#">📚 Documents</a></li>
                    <li><a href="#">💥 Annexes</a></li>
                  </ul>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="https://discord.com/invite/4ErWuNkzDq" target="_blank" style="display: flex; align-items:center;"><img src="imgs/picto-discord.png" alt="picto Discord" style="width:20px; height:20px; margin-right: 5px;"> Discord</a></li>
                    <li><a href="https://twitter.com/PathfindersTG" target="_blank" style="display: flex; align-items:center;"><img src="imgs/picto-X.png" alt="picto X" style="width:20px; height:20px; margin-right: 5px;"> Twitter</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </header>
    <div class="spaceHead"></div>

    <div class="contentPage">
        {{ content }}
    </div>
    
  </body>
</html>
